<div class="f1">
<form id="surveyform" action='/postdata' method='post' enctype='application/x-www-form-urlencoded' class="f1">
  <table cellpadding="2" cellspacing="0" class="table_blue">
    <tr>
      <td class="table_hblue"><strong>Age</strong></td>
      <td class="table_blue_lines"><select name="age" id="age">
        <option value="1" selected="selected">&lt; 60 yrs old</option>
        <option value="2">61 - 70 yrs old</option>
        <option value="4">&gt; 71 yrs old</option>
      </select></td>
    </tr>
    <tr>
      <td class="table_hblue"><strong>Cardiac</strong></td>
      <td class="table_blue_lines"><select name="cardiac" id="cardiac">
        <option value="1" selected="selected">Normal</option>
        <option value="2">cardiac drugs or steroids</option>
        <option value="4">peripheral oedema,warfarin,myopathy</option>
        <option value="8">raised JVP, cardiomegaly</option>
        </select></td>
      </tr>
      <tr>
        <td class="table_hblue"><strong>Respiratory</strong></td>
        <td class="table_blue_lines"><select name="resp" id="resp">
          <option value="1" selected="selected">No dyspnoea</option>
          <option value="2">Shortness of breath on exertion</option>
          <option value="4">Short of breath on stairs</option>
          <option value="8">dyspnoea at rest, any other</option>
          </select></td>
        </tr>
        <tr>
          <td class="table_hblue"><strong>ECG</strong></td>
          <td class="table_blue_lines"><select name="ecg" id="ecg">
            <option value="1" selected="selected">ECG normal</option>
            <option value="4">ECG = AF, rate 60-90</option>
            <option value="8">ECG = any other abnormal rhythm</option>
            </select></td>
          </tr>
          <tr>
            <td class="table_hblue"><strong>Systolic BP</strong></td>
            <td class="table_blue_lines"><select name="sys" id="sys">
              <option value="1" selected="selected">110 - 129 mmHg</option>
              <option value="2">100 - 109 or 130 - 170 mmHg</option>
              <option value="4">&gt;170, or 90 - 99 mmHg</option>
              <option value="8">&lt; 90 mmHg</option>
            </select></td>
          </tr>
          <tr>
            <td class="table_hblue"><strong>Pulse Rate</strong></td>
            <td class="table_blue_lines"><select name="pulse" id="pulse">
              <option value="1" selected="selected">50 - 80 bpm</option>
              <option value="2">40 - 49 or 81 - 100 bpm</option>
              <option value="4">101 - 120 bpm</option>
              <option value="8">&lt;40 or &gt; 120 bpm</option>
            </select></td>
          </tr>
          <tr>
            <td class="table_hblue"><strong>Haemoglobin</strong></td>
            <td class="table_blue_lines"><select name="hb" id="hb">
              <option value="1" selected="selected">13 - 16 g/dl</option>
              <option value="2">11.5 - 12.9 or 16.1 - 17 g/dl</option>
              <option value="4">10 - 11.4 or 17.1 - 18 g/dl</option>
              <option value="8">&lt;10 or &gt;18 g/dl</option>
            </select></td>
          </tr>
          <tr>
            <td class="table_hblue"><strong>WBC</strong></td>
            <td class="table_blue_lines"><select name="wbc" id="wbc">
              <option value="1" selected="selected">4 - 10</option>
              <option value="2">10.1 - 20 or 3.1 - 4</option>
              <option value="4">&gt;20 or &lt;3</option>
            </select></td>
          </tr>
          <tr>
            <td class="table_hblue"><strong>Urea</strong></td>
            <td class="table_blue_lines"><select name="ur" id="ur">
              <option value="1" selected="selected">&lt;7.6</option>
              <option value="2">7.6 - 10</option>
              <option value="4">10.1 - 15</option>
              <option value="8">&gt;15</option>
            </select></td>
          </tr>
          <tr>
            <td class="table_hblue"><strong>Sodium</strong></td>
            <td class="table_blue_lines"><select name="na" id="na">
              <option value="1" selected="selected">&gt;136 mmol/l</option>
              <option value="2">131 - 135 mmol/l</option>
              <option value="4">126 - 130 mmol/l</option>
              <option value="8">&lt;126 mmol/l</option>
            </select></td>
          </tr>
          <tr>
            <td class="table_hblue"><strong>Potassium</strong></td>
            <td class="table_blue_lines"><select name="pot" id="pot">
              <option value="1" selected="selected">3.5 - 5 mmol/l</option>
              <option value="2">3.2 - 3.4 or 5.1 - 5.3 mmol/l</option>
              <option value="4">2.9 - 3.1 or 5.4 - 5.9 mmol/l</option>
              <option value="8">&lt;2.9 or &gt;5.9 mmol/l</option>
            </select></td>
          </tr>
          <tr>
            <td class="table_hblue"><strong>GCS</strong></td>
            <td class="table_blue_lines"><select name="gcs" id="gcs">
              <option value="1" selected="selected">15</option>
              <option value="2">12 - 14</option>
              <option value="4">9 - 11</option>
              <option value="8">&lt;9</option>
            </select></td>
          </tr>
        </table>
        <div class="f1-buttons">
             <button type="submit" class="btn btn-next">Calculate</button>
        </div>
</form>
</div>
