<div class="f1">
  <h4>Physiology score: <span style="color: red;">{{ps}}</span></h4>
  <h4>V-POSSUM Mortality (PS Only): <span style="color: red;">{{vpm}}%</span></h4>
  <h4>RAAA-POSSUM Mortality (PS Only): <span style="color: red;">{{rpm}}%</span></h4>
</div>
